<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset Request</title>
</head>
<body>

<div th:replace="fragments.html :: dark-wrapper(${app_name} + ' - Request for Password Change')">
    <div th:fragment="content">
        <p>You have received this email to change your password on our platform - <span th:text="${app_name}"></span>.</p>
        <p>Visit the URL below to change the password:</p>
        <p>
            <a th:href="${target_url}" th:text="${target_url}"></a>
        </p>
        <p>Your username: <span th:text="${user_name}"></span></p>
        <p>Thanks for using our service!</p>
        <p th:text="${app_name}"></p>
    </div>
</div>

</body>
</html>
